@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

/*h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:normal;}*/
q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

html, body {
  height: 100%; }

input {
  background: transparent;
  border: none; }

input:focus, input:focus {
  outline: none !important; }

body {
  background: #ffffff;
  font-family: '微軟正黑體',Arial;
  font-size: 12px; }

a {
  outline: none;
  hlbr: expression(this.onFocus=this.blur());
  text-decoration: none; }

.clear {
  clear: both; }

img {
  vertical-align: top; }

.wrapper {
  position: relative;
  width: 640px;
  margin: auto; }
  .wrapper.demo {
    height: 990px;
    background: url(../images/bg.jpg) no-repeat;
    background-size: 100%;
    background-position: center top; }
    .wrapper.demo .demo_btn {
      position: absolute;
      width: 285px;
      height: 155px;
      left: 13px;
      top: 770px;
      border-radius: 5px;
      background: url(../images/icon-service@2.png) no-repeat;
      background-size: 66px auto;
      background-position: center 40px;
      background-color: #5888f6; }
      .wrapper.demo .demo_btn .txt {
        position: absolute;
        width: 100%;
        height: 24px;
        bottom: 33px;
        font-size: 24px;
        color: #FFF;
        text-align: center; }
    .wrapper.demo .demo_btn2 {
      position: absolute;
      width: 285px;
      height: 155px;
      right: 13px;
      top: 770px;
      border-radius: 5px;
      background: url(../images/icon-store@2.png) no-repeat;
      background-size: 66px auto;
      background-position: center 40px;
      background-color: #5888f6; }
      .wrapper.demo .demo_btn2 .txt {
        position: absolute;
        width: 100%;
        height: 24px;
        bottom: 33px;
        font-size: 24px;
        color: #FFF;
        text-align: center; }

@media screen and (max-width: 640px) {
  * {
    box-sizing: border-box; }

  .wrapper {
    position: relative;
    width: 100%; }
    .wrapper.demo {
      height: 154.6875vw;
      background: url(../images/bg.jpg) no-repeat;
      background-size: 100%;
      background-position: center top; }
      .wrapper.demo .demo_btn {
        position: absolute;
        width: 44.53125vw;
        height: 24.21875vw;
        left: 2.03125vw;
        top: 120.3125vw;
        border-radius: 0.78125vw;
        background: url(../images/icon-service@2.png) no-repeat;
        background-size: 10.3125vw auto;
        background-position: center 6.25vw;
        background-color: #5888f6; }
        .wrapper.demo .demo_btn .txt {
          position: absolute;
          width: 100%;
          height: 3.75vw;
          bottom: 5.15625vw;
          font-size: 3.75vw;
          color: #FFF;
          text-align: center; }
      .wrapper.demo .demo_btn2 {
        position: absolute;
        width: 44.53125vw;
        height: 24.21875vw;
        right: 2.03125vw;
        top: 120.3125vw;
        border-radius: 0.78125vw;
        background: url(../images/icon-store@2.png) no-repeat;
        background-size: 10.3125vw auto;
        background-position: center 6.25vw;
        background-color: #5888f6; }
        .wrapper.demo .demo_btn2 .txt {
          position: absolute;
          width: 100%;
          height: 3.75vw;
          bottom: 5.15625vw;
          font-size: 3.75vw;
          color: #FFF;
          text-align: center; } }

/*# sourceMappingURL=common.css.map */
