@import "base.scss";
$vpw:641;
.wrapper{
	position: relative;
	width:640px;
	margin: auto;
	//origin
	&.demo{
		height:getVW(990);
		background: url(../images/bg.jpg) no-repeat;
		background-size: 100%;
		background-position: center top;
		.demo_btn{
			position:absolute;
			width: getVW(285);
			height: getVW(155);
			left: getVW(13);
			top: getVW(770);
			border-radius: getVW(5);
			background: url(../images/icon-service@2.png) no-repeat;
			background-size: getVW(66) auto;
			background-position: center getVW(40);
			background-color: #5888f6;
			.txt{
				position: absolute;
				width: 100%;
				height: getVW(24);
				bottom: getVW(33);
				font-size: getVW(24);
				color:#FFF;
				text-align: center;
			}
		}
		.demo_btn2{
			position:absolute;
			width: getVW(285);
			height: getVW(155);
			right: getVW(13);
			top: getVW(770);
			border-radius: getVW(5);
			background: url(../images/icon-store@2.png) no-repeat;
			background-size: getVW(66) auto;
			background-position: center getVW(40);
			background-color: #5888f6;
			.txt{
				position: absolute;
				width: 100%;
				height: getVW(24);
				bottom: getVW(33);
				font-size: getVW(24);
				color:#FFF;
				text-align: center;
			}
		}
	}
}
$vpw:640;
@media screen and (max-width: 640px) {
	*{box-sizing:border-box;}
	.wrapper{
		position: relative;
		width:100%;
		//origin
		&.demo{
			height:getVW(990);
			background: url(../images/bg.jpg) no-repeat;
			background-size: 100%;
			background-position: center top;
			.demo_btn{
				position:absolute;
				width: getVW(285);
				height: getVW(155);
				left: getVW(13);
				top: getVW(770);
				border-radius: getVW(5);
				background: url(../images/icon-service@2.png) no-repeat;
				background-size: getVW(66) auto;
				background-position: center getVW(40);
				background-color: #5888f6;
				.txt{
					position: absolute;
					width: 100%;
					height: getVW(24);
					bottom: getVW(33);
					font-size: getVW(24);
					color:#FFF;
					text-align: center;
				}
			}
			.demo_btn2{
				position:absolute;
				width: getVW(285);
				height: getVW(155);
				right: getVW(13);
				top: getVW(770);
				border-radius: getVW(5);
				background: url(../images/icon-store@2.png) no-repeat;
				background-size: getVW(66) auto;
				background-position: center getVW(40);
				background-color: #5888f6;
				.txt{
					position: absolute;
					width: 100%;
					height: getVW(24);
					bottom: getVW(33);
					font-size: getVW(24);
					color:#FFF;
					text-align: center;
				}
			}
		}
	}
}

